@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

body {
  font-family: "Inter", sans-serif;
  display: flex;
  margin: 0;
  position: 0;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column-reverse;
}

.keyboard {
  /*background-color: #f7f7f7;*/
  background-color: #7c7a7a;
  padding: 45px 40px;
  border-radius: 40px;
}
textarea {
  width: 1120px;
  height: 300px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 1120px;  
}

.key {
  font-family: "Inter", sans-serif;
  border: none;
  /*background: #ffffff;*/
  background: #e1dede;
  box-shadow: 0px 1.86186px 14.8949px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  color: black;
  min-width: 65px;
  height: 65px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  box-sizing: border-box;
  cursor: pointer;
}
/*img {
  width: 20px;
  height: 20px;
}*/

.key:hover {
  background: #75818a;
  color: #000;
}

.space {
width: 400px;

}

.utility {
  background: #b5bdbd;
}
.arrows {
  background: #e1cdb8;
}



